<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sucess</title>
        <style>
            .flex-container {
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        </style>
    </head>
    <body>

        <div class="flex-container">

            <h1>Sucess!</h1>
        </div>
    </body>
</html>